/*
body {
  margin: 0;
}

canvas {
  border: 3px solid black;
}

canvas{
  border: 1px 
  solid #bbb;
}*/

/* =============================

 Main

 ============================= */

section{
  padding: 400px;
  min-width: 100%
}

img{
  height: 150px;
  width: 150px; 
  margin: 0;
}

p { 
  max-height:175px;
  max-width: 175px;
  margin: 0;
  display: inline;
}


/* =============================

 Floated Columns 

 ============================= */

.left {
  float: left;
  width: 50%;

}

.right {
  float: right;
  width: 50%;
}

/* =============================

Float Clearfix 

============================= */

.group:after {
  content: "";
  display: table;
  clear: both;
}







